<template lang='pug'>
  v-content
    v-container(grid-list-lg)
      v-layout(row wrap)
        v-flex(xs12)
          v-text-field(append-icon="search" outline @keypress="search" v-model="query")

        v-flex(v-for="ebook in ebooks" :key="ebook.id" xs12 sm6 md4 xl3)
          v-card(height="100%")
            v-layout
              v-flex(xs5)
                v-img(
                  :src="ebook.img_url"
                  height="125px"
                  contain
                )
              v-flex(xs7)
                v-card-title(primary-title)
                  div
                    .headline {{ ebook.title }}
                    div {{ ebook.meta.Author }}
                    div {{ ebook.meta.Year }}
            
            v-card-actions.pa-3
              v-spacer
              v-btn(v-for="lnk,k of ebook.links" :key="k" :href="lnk" target="_blank") {{k}}
              v-btn(icon @click="ebook.show = !ebook.show")
                v-icon {{ ebook.show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
          
            v-slide-y-transition
              v-card-text(v-show="ebook.show") {{ ebook.desc }}
</template>

<script>


export default {
  data: () => ({
    ebooks: [],
    query: "",
    from: 0,
    limit: 21,
    continue: null
  }),
  methods: {
    search() {
      this.ebooks = []
      if (this.continue) {
        clearInterval(this.continue)
        this.from = 0
      }

      this.continue = setInterval(() => {
        this.$axios.get(`${process.env.apiUrl}/ebooks?limit=${this.limit}&match=${this.query}&skip=${this.from}`)
          .then(data => {
            if (!data.data.ebooks || data.data.ebooks.length == 0) {
              clearInterval(this.continue)
              this.continue = null
              if (this.ebooks.length == 0) {
                alert("no results")
              }
              return
            }
            this.from += this.limit
            this.ebooks.push(...data.data.ebooks.map(e => Object.assign(e, {show: false})))
          })
          .catch(error => {
            alert(error.message)
            console.log(error)
          })
      }, 500)
    }
  },
  mounted() {
    // this.continue = setInterval(() => {
        this.$axios.get(`${process.env.apiUrl}/ebooks?limit=${this.limit}&skip=${this.from}`)
          .then(data => {
            if (!data.data.ebooks || data.data.ebooks.length == 0) {
              clearInterval(this.continue)
              this.continue = null
              if (this.ebooks.length == 0) {
                alert("no results")
              }
              return
            }
            this.from += this.limit
            this.ebooks.push(...data.data.ebooks.map(e => Object.assign(e, {show: false})))
          })
          .catch(error => {
            alert(error.message)
            console.log(error)
          })
      // }, 500)
  }
}
</script>
